* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(252, 171, 22);
    --secondary: pink;
    --ternary: aliceblue;
    --error: rgba(255, 0, 0, 0.849);
    --submit: rgb(30, 233, 30);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    background-color: var(--ternary);
    border: 5px solid blue;
    margin: 0 2em;
}

.info {
    text-align: center;  
    font-family: cursive;
    color: var(--primary);
    font-size: 3em;
    margin: 1em 0;
}

.header {
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;
}

.header input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 0 0.4em;
    border: 1px solid var(--primary);
    color: var(--primary);
    margin-top: 10px;
    border:5px solid red;
    outline: none;
}

#add_button_div {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#btn {
    /* margin-left: 5px; */
    padding: 0.625em;
    border-radius: 5px;
    outline: none;
    min-width: 100px;
    background-color: var(--submit);
    font-size: 1.25em;
    color: white;
    border: 2px solid transparent;
    /* border: 5px solid red;    */
}

#btn:hover {
    color: var(--submit);
    background-color: white;
    border: 2px solid var(--submit);
    cursor: pointer;
} 

#error {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
    color: var(--error);
}


/* script classes */
.del {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--error);
    font-size: 20px;
    color: white;
    border: 2px solid transparent;
}

.del:hover {
    cursor: pointer;
    background-color: white;
    color: var(--error);
    border: 2px solid var(--error);
}



#main_table {
    overflow-x: auto;
    width: 100%;
    /* border: 5px solid black; */
}


tr {
    border: 5px solid red;
    min-width: 50em;
}

table,
th,
td {
    padding: 10px;
    text-align: center;
    border: 2px solid tomato;
}

table {
    margin: 1em auto;
    border-spacing: 0.5em 0.5em;
    border: none;
}

th {
    background-color: var(--primary);
    color: white;
    font-size: 1.5em;
}

::placeholder {
   color: grey;
}